
<div style="margin-top: 60px; padding: 4vw; padding-top: 0; text-align: center;">
    <div class="parentCont">
        <div style="width: 100%; padding: 1vw; padding-left: 0; text-align: left;">
            <label class="tituloCamp">Oferta</label>
            <hr/>
        </div>
        
        <div class="losTresContenedores">
            <svg xmlns="http://www.w3.org/2000/svg" width="15vw" height="15vw" style="min-height: 14vw !important; min-width:14vw !important;" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
            </svg>
            <br/>
            <button class=boton  (click)="favoritos=!favoritos">Añadir favoritos
                <svg xmlns="http://www.w3.org/2000/svg"  *ngIf="!favoritos; else favorito" style="margin-left: 5px;" width="10px" height="10px" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
                <ng-template #favorito>
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px; color:red"width="10px" height="10px" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                       <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                </ng-template>
            </button>
        </div>
        <div class="losTresContenedores" style="text-align: center;">
            
            <table style="width:70%; height: 70%; min-width: 100px; margin-left: 25%; margin-right: 15%; text-align: left;">
                <tr>
                    <th><label class="subtituloCamp">Detalles</label></th>
                    <th></th>
                </tr>
                <tr>
                    <th><label class="contenido">Ubicacion</label></th>
                    <th><label class="contenido2">{{casa_selec.Lugar}}</label></th>
                </tr>
                <tr>
                    <th><label class="contenido">M<sup>2</sup></label></th>
                    <th><label class="contenido2">{{casa_selec.M2}}</label></th>
                </tr>
                <tr>
                    <th><label class="contenido">Tipo</label></th>
                    <th><label class="contenido2">{{casa_selec.Tipo}}</label></th>
                </tr>
                <tr>
                    <th><label class="contenido">Opcion</label></th>
                    <th><label class="contenido2">{{casa_selec.Compr_alq_compar}}</label></th>
                </tr>
                <tr>
                    <th><label class="contenido">Precio</label></th>
                    <th><label class="contenido2">{{casa_selec.Precio}}</label></th>
                </tr>
            </table>
        </div>
        <div class="losTresContenedores">
            <div id=map_cont_id></div>
            <!--
            <svg xmlns="http://www.w3.org/2000/svg" width="15vw" height="15vw" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
            </svg>
            -->
        </div>
    </div>
    <div style="text-align: center;">
        <div style="height: 10vw;width: 100%; min-width:605px; min-height:235px;">
            <div style="width: 100%; padding: 1vw; padding-left: 0; text-align: left;">
                <label class="tituloCamp">Galeria</label>
                <hr/>
            </div>
            <!-- __________________________________Galeria_______________________________________________ -->

            <ngb-carousel *ngIf="images" style="background-color: rgba(59,110,144,0.8); height: 10vw;width: 100%; min-width:585px; min-height:135px;">
                <ng-template ngbSlide *ngFor="let imagen of images | slice:0:(images.length/2+1); let i=index">
                    
                    <div class="ConjuntoImg" *ngFor="let imagen of images | slice:i*2:i*2+2; let ii=index;">
                        <div class="picsum-img-wrapper">
                            <img [src]="imagen" alt="Random first slide">
                        </div>
                        
                    </div>
                    
                </ng-template>
              </ngb-carousel>

            <!-- _________________________________________________________________________________ -->
        </div>
    </div>
    <div class="parentCont">
        <div style="width: 100%; padding: 1vw; padding-left: 0; text-align: left;">
            <label class="tituloCamp">Descripcion</label>
            <hr/>
        </div>
        <div style="text-align: left;">
            <label class="contenido2">{{casa_selec.Descripcion}}</label>
        </div>
    </div>
    <div class="parentCont">
        
        <div style="width: 100%; padding: 1vw; padding-left: 0; text-align: left;">
            <label class="tituloCamp">Datos de contacto</label>
            <hr/>
        </div>
        <div>
            <div class="tarjetas">
                <div style="display: inline-block; height: 100%; width: 20%; vertical-align: middle;">
                    <svg xmlns="http://www.w3.org/2000/svg" style="padding-top: 5px;" width="20" height="20" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                </div>
                <div style="display: inline-block; padding-top: 5px; text-align: left;width: 70%;  vertical-align: middle;">
                    <label >{{casa_selec.Telefono}}</label>
                </div>
            </div>
            <div class="tarjetas">
                <div style="display: inline-block; width: 20%; vertical-align: middle;">
                    <mat-icon style="font-size:20px; padding-top: 5px;"> email</mat-icon>
                </div>
                <div style="display: inline-block; text-align: left;width: 70%; vertical-align: middle;">
                    <label style="margin: 5px;">{{casa_selec.Email}}</label>
                </div>
            </div>
            <div class="tarjetas">
                <div style="display: inline-block; width: 20%; vertical-align: middle;">
                    <mat-icon style="font-size:20px; padding-top: 5px;">share</mat-icon>
                </div>
                <div style="display: inline-block; text-align: left;width: 70%; vertical-align: middle;">
                    <label style="margin: 5px;">Compartir</label>
                </div>
            </div>
        </div>
    </div>
    <div class="parentCont">
        <div style="width: 100%; padding: 1vw; padding-left: 0; text-align: left;">
            <label class="tituloCamp">Ofertas relacionadas</label>
            <hr/>
        </div>
        <div>
            <div class="tarjetas">
                <div style="display: inline-block; height: 100%; width: 29%; vertical-align: middle;">

                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                    </svg>
                </div>
                <div style="display: inline-block; padding-top: 5px; text-align: left;width: 70%; vertical-align: middle;">
                    <label >Nombre Empresa</label>
                </div>
            </div>
            <div class="tarjetas">
                <div style="display: inline-block; height: 100%; width: 29%; vertical-align: middle;">

                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                    </svg>
                </div>
                <div style="display: inline-block; padding-top: 5px; text-align: left;width: 70%; vertical-align: middle;">
                    <label >Nombre Empresa</label>
                </div>
            </div>
            <div class="tarjetas">
                <div style="display: inline-block; height: 100%; width: 29%; vertical-align: middle;">

                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                    </svg>
                </div>
                <div style="display: inline-block; padding-top: 5px; text-align: left;width: 70%; vertical-align: middle;">
                    <label >Nombre Empresa</label>
                </div>
            </div>
        </div>
    </div>
</div>



