:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.absa{
    position:absolute;
    width:100%;
    height:5vw;
    bottom : 60px;
}

.content {
    width: 100%;
    display: flex;
    /*min-height: calc(100% - 40px);
    /*margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    align-items: center;*/
    flex-flow: row;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: center;
    
}
.content>* {
    flex: 1 1 0%;
}
.boton {
    margin: 2vw;
    padding: 0.5vw;
    background-color: #3B6E90;
    border-radius:0.5vw;
    color: white;
    font-weight: 500;

}

.mitadCaja{
    margin:0.2vw;
    display:flex; 
    align-items: center; 
    text-align: center; 
    flex-direction: column; 
    width: 190px;
    max-width: 190px;
}

.listaElementos{
    border-radius:1vw; 
    height: 30vw; 
    width:440px; 
    padding-bottom: 2vw;
    overflow: auto;
    overflow-x: hidden;
    text-align: center;
    background-color:rgba(95, 177, 232, 0.91);
    display:flex; 
    flex-direction: column; 
    align-items: center;
    
}

.listaElementos::-webkit-scrollbar {   display: none; }

.ContenedorFav{
    padding-top: 2vw; 
    display:flex; 
    flex-direction: column; 
    align-items: center; 
    border-radius:0.5vw; 
    border-width: 2px;
}

.filaCuest{
    margin-top:1vw;
    display:flex; 
    justify-content: center; 
    text-align: center; 
    flex-direction: row; 
    min-height: 100px;
    width: 400px;
    border-style: inset;
    border-radius:0.5vw;
    border-width: 2px;
    border-color: #3B6E90;

}
.titulo{
    text-align: center;
    font-size: 16px;
    margin-right: 10vw;
    font-weight: 600;
    font-weight: bold;
}
.tituloCamp{
    color:#000000;
    font-weight: bold;
    word-wrap: break-word;
    width: 190px;
    max-width: 190px;
}
.contCamp{
    border-radius:0.5vw;
    height: 70px;
    width: 90px;
}
