<div style="height: calc(100% - 40px);">
<div class="content" role="main">
    <div style="padding-top: 2vw;">
      <p class = "titulo">Ofertas trabajo</p>
      <div style = "height: 30vw; width:330px; overflow: auto;">
        <div *ngFor="let trabajo of trabajos">
          <div [routerLink]="['../MostrarInformacionComponent',trabajo.ID]" class=filaCuest>
            <div class="mitadCaja">
              <label class=tituloCamp>{{trabajo.titulo}}</label>
              <br/>
              <label class=tituloCamp>{{trabajo.area}}</label>
            </div>
            <div>
              <div style="height: 60px; width: 200px; overflow: hidden;">
                <label class=tituloCamp>{{trabajo.sueldo}}</label>
              </div>
              <p>...</p>
            </div>
          </div>
        </div>
        <!--<div [routerLink]="['../MostrarInformacionComponent',casa.ID]" class="tarjetas" >
          {{casa.Lugar}}
        </div>
        -->
      </div>
    </div>
    <div  style="padding-top: 2vw;">
      <p class = "titulo">Ofertas viviendas</p>
      <div style = "height: 30vw; width:330px; overflow: auto;">
        <div *ngFor="let casa of casas">
          <div [routerLink]="['../MostrarInformacionComponent',casa.ID]" class=filaCuest>
            <div class="mitadCaja">
              <label class=tituloCamp>{{casa.lugar}}</label>
              <br/>
              <label class=tituloCamp>{{casa.precio}}</label>
            </div>
            <div>
              <div style="height: 60px; width: 200px; overflow: hidden;">
                <label class=tituloCamp>{{casa.habitaciones}}</label>
              </div>
              <p>...</p>
            </div>
          </div>
        </div>
        <!--<div [routerLink]="['../MostrarInformacionComponent',casa.ID]" class="tarjetas" >
          {{casa.Lugar}}
        </div>
        -->
      </div>
    </div>
    
</div>
<div class = "absa" style=" width: 100%; text-align: right;">
  <button class=boton [routerLink]="['../primer']">Atras</button>
</div>
</div>
<!--<a [routerLink]="['/primer']">Volver a la pagina principal</a>-->
