<div style="height: calc(100% - 40px);">
<div class="content" role="main">
    <div style="padding-top: 2vw; display:flex; flex-direction: column; align-items: center;">


      <p class = "titulo">Ofertas trabajo</p>

      <br>
      <div class=listaElementos>
        <div *ngFor="let trabajo of trabajos">
          <div (click)="abrirOferta(trabajo)" class=filaCuest>
            <div class="mitadCaja">
              <label class=tituloCamp>{{trabajo.titulo}}</label>
              <br/>
              <label class=tituloCamp>{{trabajo.area}}</label>
            </div>
            <div>
              <div style="height: 60px;margin-top: 10px; width: 200px; overflow: hidden;">
                <label class=tituloCamp>{{trabajo.funciones}}</label>
              </div>
              <p>...</p>
            </div>
          </div>
        </div>
        <!--<div [routerLink]="['../MostrarInformacionComponent',casa.ID]" class="tarjetas" >
          {{casa.Lugar}}
        </div>
        -->
      </div>
    </div>
    <div style="padding-top: 2vw; display:flex; flex-direction: column; align-items: center;">
      <p class = "titulo">Ofertas viviendas</p>
      <br>
      <div class =listaElementos>
        <div *ngFor="let casa of casas">
          <div (click)="abrirCasa(casa)" class=filaCuest>
            <div class="mitadCaja">
              <label class=tituloCamp>{{casa.lugar}}</label>
              <br/>
              <label class=tituloCamp>{{casa.precio}} €</label>
            </div>
            <div class="mitadCaja">
              <label class=tituloCamp>Habitaciones: {{casa.habitaciones}}</label>
              <label class=tituloCamp>Metros: {{casa.metros2}} m²</label>
              <label class=tituloCamp>{{casa.compr_alq_compar}}</label>
            </div>
          </div>
        </div>
        <!--<div [routerLink]="['../MostrarInformacionComponent',casa.ID]" class="tarjetas" >
          {{casa.Lugar}}
        </div>
        -->
      </div>
    </div>

</div>
<div class = "absa" style=" width: 100%; text-align: right;">
  <button class=boton [routerLink]="['../primer']">Atrás</button>
</div>
</div>
<!--<a [routerLink]="['/primer']">Volver a la pagina principal</a>-->
