:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}
.content {
    width: 100%;
    display: flex;
   
    /*margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    align-items: center;*/
    flex-flow: row;
    flex-wrap: wrap;
    padding-top: 60px;
    justify-content: center;
    
}
.content>* {
    flex: 1 1 0%;
}
.boton {
    margin: 2vw;
    padding: 0.5vw;
    background-color: #3B6E90;
    border-radius:0.5vw;
}
.mitadCaja{
    margin:0.2vw;
    display:flex; 
    justify-content: center; 
    text-align: center; 
    flex-direction: column; 
}
.filaCuest{
    margin-top:1vw;
    display:flex; 
    justify-content: center; 
    text-align: center; 
    flex-direction: row; 
    height: 80px;
    width: 300px;
    border-style: inset;
    border-radius:0.5vw;
    border-width: 2px;
    border-color: #3B6E90;

}
.titulo{
    text-align: center;
    font-size: 16px;
    margin-right: 10vw;

}
.tituloCamp{
    color:#3B6E90;
}
.contCamp{
    border-radius:0.5vw;
    height: 70px;
    width: 90px;
}
