<div class="content" role="main">
    <div>
        <h1>Perfil</h1>
    </div>
    <div>
        <label>Nombre</label>
        <input type="text"/>
        <br/>
        <label>Apellidos</label>
        <input type="text"/>
        <br/>
        <label>Fecha de Nacimiento</label>
        <input type="text"/>
        <br/>
        <label>Email</label>
        <input type="text"/>
        <br/>
    </div>
    <div>
        <label>Nombre</label>
        <input type="text"/>
        <br/>
        <label>Apellidos</label>
        <input type="text"/>
        <br/>
        <label>Fecha de Nacimiento</label>
        <input type="text"/>
        <br/>
        <label>Email</label>
        <input type="text"/>
        <br/>
    </div>
    
</div>
<a [routerLink]="['/primer']">Volver a la pagina principal</a>
