<div style="height: calc(100% - 40px);">

  <div class="content" role="main">
      <div style="padding-top: 4vw;text-align: center;">
        <button (click)="edit=true" *ngIf="!edit; else editando" class=boton>Editar</button>
        <ng-template #editando>
          <button (click)="edit=False; resetValues()" class=boton style="margin: 2vw;">Cancelar</button>
          <button (click)="edit=False; sendValue()" class=boton style="margin: 2vw;">Enviar</button>
        </ng-template>
        <div>
          <button (click)="eliminarUsuario()" class=boton style="background-color:#DB412B; padding-top: 0.5vw;">Borrar Cuenta</button>
        </div>
      </div>
      <div style="padding-top: 2vw;">
        <p class = "titulo">Datos Personales</p>
        <div class=filaCuest>
          <label class=tituloCamp>Nombre</label>
          <br/>
          <input class=contCamp [disabled]="!edit" [(ngModel)]=user.nombre type="text"/>
        </div>
        <div class=filaCuest>
          <label class=tituloCamp>Apellidos</label>
          <br/>
          <input class=contCamp [disabled]="!edit" [(ngModel)]=user.apellidos type="text"/>
        </div>
        <div class=filaCuest>
          <label class=tituloCamp>Fecha de Nacimiento</label>
          <br/>
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Elige una fecha</mat-label>
            <input matInput [matDatepicker]="datepicker"[(ngModel)]=user.fecha_nacimiento  [disabled]="!edit">
            <mat-datepicker-toggle matSuffix [for]="datepicker" ></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button style = "margin: 1vw; padding: 0.5vw; background-color: #3B6E90; color: white; border-radius:0.5vw;" matDatepickerCancel>Cancelar</button>
                <button mat-raised-button style = "margin: 1vw; padding: 0.5vw; background-color: #3B6E90; color: white; border-radius:0.5vw;" color="primary" matDatepickerApply>Aplicar</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        </div>
        <div class=filaCuest>
          <label class=tituloCamp>Email</label>
          <br/>
          <input class=contCamp [disabled]="!edit" [(ngModel)]=user.email type="text"/>
        </div>
        <div class=filaCuest>
          <label class=tituloCamp>Contraseña</label>
          <br/>
          <input class=contCamp [disabled]="!edit" [(ngModel)]=contrasena type="password"/>
        </div>
      </div>
      <div  style="padding-top: 2vw;">
        <p class = "titulo">CV</p>
        <div class=filaCuest>
          <label class=tituloCamp>Sector</label>
          <br/>
          <input class=contCamp [disabled]="!edit" [(ngModel)]=user.sector type="text"/>
        </div>
        <div class=filaCuest>
          <label class=tituloCamp>Estudios</label>
          <br/>
          <input class=contCamp  [disabled]="!edit" [(ngModel)]=user.estudios type="text"/>
        </div>
        <div class=filaCuest>
          <label class=tituloCamp>Experiencia Laboral</label>
          <br/>
          <input class=contCamp  [disabled]="!edit" [(ngModel)]=user.experiencia_laboral type="text"/>
        </div>
        <div class=filaCuest>
          <label class=tituloCamp>Idiomas</label>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>Idiomas</mat-label>
            <mat-select [formControl]="idiomas" multiple [disabled]="!edit">
              <mat-option *ngFor="let idioma of listaIdiomas" [value]="idioma">{{idioma}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
  </div>
  <div class = "absa" style="width: 100%; text-align: right;">
    <button class=boton [routerLink]="['../primer']">Atrás</button>
  </div>
</div>

<!--<a [routerLink]="['/primer']">Volver a la pagina principal</a>-->
