:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}
.content {
    width: 90%;
    display: flex;
    /*height: calc(100% - 40px) !important;
    /*min-height: calc(100% - 40px);
    /*margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    align-items: center;*/
    flex-flow: row;
    flex-wrap: wrap;
    padding-top: 60px;
    justify-content: center;
}
.content>* {
    flex: 1 1 0%;
}
.absa{
    position:absolute;
    bottom: 8%;
    width:100%;
    height:5vw;
}

.boton{
    margin: 1vw;
    padding: 1vw;
    background-color: #3B6E90;
    color: white;
    border-radius:0.5vw;
    font-weight: 500;
    font-size: large;
    width: 10vw;
    /*height: 5vw;*/
  }
.filaCuest{
    margin:1vw;
}
.titulo{
    text-align: center;
    font-size: 16px;
    margin-right: 10vw;
    font-weight: 600;
}
.tituloCamp{
    color:#3B6E90;
    font-weight: 400;  
}

.contCamp{
    border-style: inset;
    border-radius:0.5vw;
    padding: 0.5vw;
    width: 20vw;
}
