<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img 
    [routerLink]="['../titlebar']"
    width="50"
    alt="ReJob Logo"
    src="../../assets/img/logo_B.png"
    />
    <span style="font-size: 2vw;">REJOB</span>
    <div class="spacer"></div>
    <div class="spacer"></div>


</div>

<div class="content">
    <div class="central">
        <h1 style="font-weight: bolder; color:#3B6E90; text-shadow: 0 0 black; margin-top: 48%; font-size: 181%;">Introduzca la contraseña</h1>
        <p id="mensajeError" style="color:#DB412B">{{contrIncorrecta}}</p>
        <br>
        <form #simpleform="ngForm" (ngSubmit)="cambiarContra(simpleform.value)" class="formLog">
            <div class="imputCaja">
                <input class=contCamp ngModel name="contra1" placeholder="Contraseña"  type="password" />
            </div>
            <br>
            <div class="imputCaja">
                <input class=contCamp ngModel name="contra2" placeholder="Repita contraseña"  type="password"/>
            </div>
            <br>
            <button class="boton">Enviar</button>
        </form>
        <br>
        <button class="boton" [routerLink]="['/login']">Volver</button>
    </div>
</div>