<div class="content">
    <div class="central">
        <h1>Introduzca la contraseña</h1>
        <p id="mensajeError" style="color:red">{{contrIncorrecta}}</p>
        <br>
        <form #simpleform="ngForm" (ngSubmit)="cambiarContra(simpleform.value)" class="formLog">
            <div class="imputCaja">
                <input class=contCamp ngModel name="contra1" placeholder="Contraseña"  type="password" />
            </div>
            <br>
            <div class="imputCaja">
                <input class=contCamp ngModel name="contra2" placeholder="Repite contraseña"  type="password"/>
            </div>
            <br>
            <button class="boton">Send</button>
        </form>
        <br>
        <button class="boton" [routerLink]="['../login']">Go back</button>
    </div>
</div>