<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<body>
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img 
      [routerLink]="['primer']"
      width="50"
      alt="ReJob Logo"
      src="../../assets/img/logo_B.png"
    />
    <span style="font-size: 2vw;">REJOB</span>
    <div class="spacer"></div>
    <span style="font-size: 2vw;">BIENVENIDO</span>
    <div class="spacer"></div>
    <button [routerLink]="['../login']" *ngIf="!isLogged else logueado;" class = "boton">
      Log-in
    </button>
    <button [routerLink]="['../RegisterComponent']" *ngIf="!isLogged;" class = "boton">
      Registrarse
    </button>
    <ng-template #logueado>
      <!--<button style="background-color:rgba(255, 255, 255, 0); border-radius: 50%;">-->
      <a [routerLink]="['./profile']"> 
        <svg xmlns="http://www.w3.org/2000/svg" color="black" width="3vw" height="3vw" fill="currentColor" class="bi bi-emoji-sunglasses" viewBox="0 0 16 16">
          <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
        </svg>
      </a> 
      <!--</button>-->
      <!--
      <button style="margin:2vw; background-color:rgba(255, 255, 255, 0); border-radius:0.5;">
        <svg xmlns="http://www.w3.org/2000/svg" width="3vw" height="3vw" style="color:white" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
     -->
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="margin:2vw; border-color: rgba(255, 255, 255, 0); background-color:rgba(255, 255, 255, 0);">
        <mat-icon style="color:white">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['./profile']">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item [routerLink]="['./favoritos']">
          <mat-icon>star</mat-icon>
          <span>Favoritos</span>
        </button>
        <button mat-menu-item (click)='logOut()'>
          <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16" style="color:red; margin-left:5px; margin-right:15px;">
            <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
          </svg>
          <span>Log-out</span>
        </button>
        
      </mat-menu>
    </ng-template>
  
    <!--
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
      </svg>
    </a>
    -->
  </div>
  
 
  
  <router-outlet></router-outlet>
  
  <div class="toolbarB">
    <div style="margin-top: 10px;"><p>Tlf: 698 149 747</p></div>
    <div style="margin-top: 10px;"><p>pcdev2219@gmail.com</p></div>
    <div style="margin-top: 10px;"><p>Apruébenos</p></div>
  </div>
</body>


  
