<mat-dialog-content style="padding: 4vw; padding-top: 0; text-align: center; float: left;">
    <div class="col-11">
        <div class="parentCont">
            <div class="row">
                <div class="col">
                    <h1 class="tituloCamp" style="font-size: 30px;">Oferta de empleo</h1>
                </div>
                <div class="col">
                   <b>Área: </b><label class="contenido2">{{trabajo_selec.area}}</label>
                </div>
                <div class="col">
                    <b>Localidad: </b> <label class="contenido2">{{trabajo_selec.localidad}}</label>
                </div>
            </div>
        </div>

        <div class="row" style="text-align: center;">
            <div class="col">
                <table style="width:70%; height: 70%; min-width: 100px; text-align: left;">
                    <tr>
                        <th><label class="subtituloCamp">Detalles</label></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th><label class="contenido">Título</label></th>
                        <th><label class="contenido2">{{trabajo_selec.titulo}}</label></th>
                    </tr>
                    <tr>
                        <th><label class="contenido">Jornada</label></th>
                        <th><label class="contenido2">{{trabajo_selec.jornada}}</label></th>
                    </tr>
                    <tr>
                        <th><label class="contenido">Contrato</label></th>
                        <th><label class="contenido2">{{trabajo_selec.contrato}}</label></th>
                    </tr>
                    <tr>
                        <th><label class="contenido">Salario</label></th>
                        <th><label class="contenido2">{{trabajo_selec.salario}}</label></th>
                    </tr>
                    <tr>
                        <th><label class="contenido">Experiencia</label></th>
                        <th><label class="contenido2">{{trabajo_selec.experiencia}}</label></th>
                    </tr>
                </table>
            </div>

            <div class="col" style="margin-left: -220px;">
                <div id=map_cont_id></div>
            </div>
        </div>

        <div class="row parentCont">
            <div style="width: 100%; padding: 0.5vw; padding-left: 0; text-align: left;">
                <label class="tituloCamp">Descripción</label>
                <hr/>
            </div>
            <div style="text-align: left;">
                <label class="contenido2">{{trabajo_selec.funciones}}</label>
            </div>
        </div>

        <div class="row parentCont">
            <div class="parentCont">
                <div style="width: 100%; padding: 0.5vw; padding-left: 0; text-align: left;">
                    <label class="tituloCamp">Requisitos</label>
                    <hr/>
                </div>
                <div style="text-align: left;">
                    <label class="contenido2">{{trabajo_selec.requisitos}}</label>
                </div>
            </div>
        </div>

        <div class="parentCont">
            <div class="parentCont" *ngIf="trabajo_selec.ofrece as ' ' ">
                <div style="width: 100%; padding: 0.5vw; padding-left: 0; text-align: left;">
                    <label class="tituloCamp">Ofrece</label>
                    <hr/>
                </div>
                <div style="text-align: left;">
                    <label class="contenido2">{{trabajo_selec.ofrece}}</label>
                </div>
            </div>
        </div>

        <div class="parentCont">
            <div style="width: 100%; padding: 0.5vw; padding-left: 0; text-align: left;">
                <label class="tituloCamp">Viviendas Cercanas</label>
                <hr/>
            </div>

            <div>
                <div class="tarjetas related" *ngFor="let item of relacionados.slice(0, 3);">
                    <div (click)="abrirOferta(item)" style="display: inline-block; padding-top: 5px; text-align: left;width: 70%; vertical-align: middle;">
                        <label >Localidad: {{item.lugar}} </label>
                        <label >Metros: {{item.metros2}}m²</label>
                        <label >Opción: {{item.compr_alq_compar}} </label>
                        <label >Precio: {{item.precio}}€</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="position: fixed; bottom: 300px; right: 175px;">
        <button (click)="irOferta()" class=boton title="Ver oferta original" class=boton style="width: 40px; height: 40px;">
            <mat-icon style="margin-left:-3px; font-size:15px;">language</mat-icon>
        </button>
        <br>
        <button class=boton  style="width: 40px; height: 40px;" title="Añadir favoritos" *ngIf="isloged" (click)="agregarFavoritoTrabajo()">
            <svg xmlns="http://www.w3.org/2000/svg"  *ngIf="!favoritos; else favorito" width="15px" height="15px" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
            <ng-template #favorito>
                <svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="10px" height="10px" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
            </ng-template>
        </button>
    </div>
</mat-dialog-content>
