

.tituloCamp{
    color:#3B6E90;
    font-weight:bold;
    font-size: 20px;
}
.subtituloCamp{
    font-weight:bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.contenido{
    color:#3B6E90;
    font-size: 15px;
}
.contenido2{
    font-size: 15px;
    margin-right: 4%;  
}

.parentCont{
    min-width: 800px;
    margin-top: 1vw;
}

.boton {
    margin: 2vw;
    padding: 0.5vw;
    background-color: #3B6E90;
    border-radius:0.5vw;
    color: white;
}
.tarjetas{
    display: inline-block;
    width: 225px;
    margin: 2vw;
    padding: 0.5vw;
    border-style: inset;
    border-radius:0.5vw;
    border-width: 2px;
    border-color: #3B6E90;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    color: black;
}

td.mat-cell{
    border-bottom-style: none;
}

th.mat-header-cell{
    border-bottom-style: none;
}

#map_cont_id {
    height: 100%;
    width: 80%;
    z-index: 1;
}

.related{
    cursor: pointer;
}