<div class="content" [style.padding-left.vw] = "!isSearch ? 0:10" >
    <div *ngIf="isSearch" class=menuLateral>
      <!--<div *ngIf="isSearch"style="max-width: 200px; min-width: 200px;">-->
      <div *ngIf="trabajo!='trabajo'; else filtrosTr"style="width:100%;">
        <h1>Vivienda</h1>
        <br>
        <p class= "txtFiltro">Provincia:</p>
        <mat-form-field style="height: 3.4vw" fill>
          <mat-label>Filtro</mat-label>
          <mat-select>
            <mat-option  *ngFor="let provincia of arrayProvincias; let i=index" [value] = i (click)="filtros.Vlugar = provincia">{{provincia}}</mat-option>
                     
          </mat-select>
        </mat-form-field>
        <br>
        <br>
        <p class= "txtFiltro">Metros cuadrados</p>
        <section class="example-section">
          <mat-form-field class="example-margin-bar">
            <mat-label>M² máx.</mat-label>
            <input matInput type="number" style ="text-align: center;"[(ngModel)]="filtros.Vmetros2max">
          </mat-form-field>
          <mat-form-field style="padding-left: 2vw;" class="example-margin-bar">
            <mat-label>M² mín.</mat-label>
            <input matInput type="number" style ="text-align: center;"[(ngModel)]="filtros.Vmetros2min">
          </mat-form-field>
        </section>
        <p class= "txtFiltro">Precio</p>
        <section class="example-section">
          <mat-form-field class="example-margin-bar">
            <mat-label>Máximo</mat-label>
            <input matInput type="number" style ="text-align: center;"[(ngModel)]="filtros.Vpreciomax">
          </mat-form-field>
          <mat-form-field style="padding-left: 2vw;" class="example-margin-bar">
            <mat-label>Mínimo</mat-label>
            <input matInput type="number" style ="text-align: center;"[(ngModel)]="filtros.Vpreciomin">
          </mat-form-field>
        </section>
        <p class= "txtFiltro">Contrato</p>
        <section class="example-section">
          <mat-form-field style="height: 2.4vw" fill>
            <mat-label>Filtro</mat-label>
            <mat-select>
              <mat-option [value] = 1 (click)="filtros.Vcompr_alq_compar = null">Cualquiera</mat-option>
              <mat-option [value] = 2 (click)="filtros.Vcompr_alq_compar = 'alquiler'">Alquilar</mat-option>    
              <mat-option [value] = 3 (click)="filtros.Vcompr_alq_compar = 'comprar'">Comprar</mat-option> 
              <mat-option [value] = 4 (click)="filtros.Vcompr_alq_compar = 'compartir'">Compartir</mat-option>  
            </mat-select>
          </mat-form-field>
        </section>
        <br>
        <p class= "txtFiltro">Nº de habitaciones</p>
        <section class="example-section">
          <mat-form-field class="example-margin-bar">
            <mat-label>Máximo</mat-label>
            <input matInput type="number" style ="text-align: center;"[(ngModel)]="filtros.Vhabitacionesmax">
          </mat-form-field>
          <mat-form-field style="padding-left: 2vw;" class="example-margin-bar">
            <mat-label>Mínimo</mat-label>
            <input matInput type="number" style ="text-align: center;"[(ngModel)]="filtros.Vhabitacionesmin">
          </mat-form-field>
        </section>
        <br>
        <p class= "txtFiltro">Nº de baños</p>
        <section class="example-section">
          <mat-form-field class="example-margin-bar">
            <mat-label>Máximo</mat-label>
            <input matInput type="number" style ="text-align: center;"[(ngModel)]="filtros.Vbanosmax">
          </mat-form-field>
          <mat-form-field style="padding-left: 2vw;"class="example-margin-bar">
            <mat-label>Mínimo</mat-label>
            <input matInput type="number" style ="text-align: center;"[(ngModel)]="filtros.Vbanosmin">
          </mat-form-field>
        </section>

        <button class = "btn"(click)="busqueda(request)">Aplicar filtros</button>
      </div>
      <ng-template #filtrosTr style="width:100%;">
        <h1>Trabajo</h1>
        <br>
        <p class= "txtFiltro">Provincia: </p>
        <mat-form-field style="height: 3.4vw" fill>
          <mat-label>Filtro</mat-label>
          <mat-select>
            <mat-option  *ngFor="let provincia of arrayProvincias; let i=index" [value] = i (click)="filtros.Tprovincia = provincia">{{provincia}}</mat-option>
                     
          </mat-select>
        </mat-form-field>
        <br>
        <br>
        <p class= "txtFiltro">Jornada: </p>
        <mat-form-field style="height: 3.4vw" fill>
          <mat-label>Filtro</mat-label>
          <mat-select>
            <mat-option [value] = 1 (click)="filtros.Tjornada = null">Cualquiera</mat-option>
            <mat-option [value] = 2 (click)="filtros.Tjornada = 'Jornada Completa'">Jornada Completa</mat-option>    
            <mat-option [value] = 3 (click)="filtros.Tjornada = 'Jornada Parcial'">Jornada Parcial</mat-option> 
            <mat-option [value] = 4 (click)="filtros.Tjornada = 'Jornada Intensiva'">Jornada Intensiva</mat-option>  
            <mat-option [value] = 5 (click)="filtros.Tjornada = 'Jornada Flexible'">Jornada Flexible</mat-option> 
          </mat-select>
        </mat-form-field>
        <br>
        <br>
        <p class= "txtFiltro">Contrato: </p>
        <mat-form-field style="height: 3.4vw" fill>
          <mat-label>Filtro</mat-label>
          <mat-select>
            <mat-option [value] = 1 (click)="filtros.Tcontrato = null">Cualquiera</mat-option>
            <mat-option [value] = 2 (click)="filtros.Tcontrato = 'Contrato De duración determinada'">Contrato De duración determinada</mat-option>    
            <mat-option [value] = 3 (click)="filtros.Tcontrato = 'Contrato Indefinido'">Contrato Indefinido</mat-option> 
            <mat-option [value] = 4 (click)="filtros.Tcontrato = 'Contrato Formativo'">Contrato Formativo</mat-option>  
            <mat-option [value] = 5 (click)="filtros.Tcontrato = 'Contrato Autónomo o freelance'">Contrato Autónomo o freelance</mat-option> 
          </mat-select>
        </mat-form-field>
        <br>
        <br>
        <button class="btn" (click)="busqueda(request)">Aplicar filtros</button>
        <!--<p>Contrato: {{filtros.trabajoContrato}}</p>-->
        
      </ng-template>
    </div>
    <div style="padding-top: 48px; height: 90%; margin: 2vw; margin-right: 4vw; text-align:center; max-width: 70vw; min-width: 500px;">
      <div class="card highlight-card card-small">
        <!--
        <p style="margin:2vw;">Trabajo<input type="checkbox" ng-model="trabajo"></p>
  
        <p style="margin:2vw;">Vivienda<input type="checkbox" ng-model="!trabajo"></p>
        -->
        <section class="example-section">
          <mat-radio-group [(ngModel)]="trabajo">
            <mat-radio-button class="example-margin" style="margin: 1vw;" value="trabajo">Trabajo</mat-radio-button>
            <mat-radio-button class="example-margin" style="margin: 1vw;" value="vivienda">Vivienda</mat-radio-button>
          </mat-radio-group>
        </section>
        <div style="margin:2vw;">
          
          <!--
          <label for="cars">Parametros</label>
          <select id="cars" name="cars">
            <option value="volvo">No</option>
            <option value="saab">Se</option>
            <option value="fiat">Que</option>
            <option value="audi">Poner</option>
            <option value="audi">Aqui</option>
          </select>
        -->
        </div>
        <input type="text" id="name" name="name" required
          minlength="4" maxlength="24" size="15" [(ngModel)] = "request">
        <button (click)="busqueda(request)" style="margin:2vw; background-color:rgba(255, 255, 255, 0); border-radius: 7px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="vertical-align: text-bottom;">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
        
      </div>
      
      <ng-container *ngIf="!isSearch; else busqueda1">
  
        <h1><br><br>¿Quiénes somos?</h1>
        <!--
        <p>imasndolaksndpoailshnd {{user.Fecha_nacimiento}}</p>
        <p>{{user.ID}}</p>
        <p>{{isLogged}}</p>-->
        <p style="text-align: justify;font-size: 16px;"><br>Esta página le ofrece un buscador de ofertas de empleo y viviendas, pudiendo filtrar dichas ofertas por múltiples filtros y así poder encontrar la que más se adapte a sus necesidades.
        Contamos tambien con la posibilidad de crear su cuenta y así poder marcar como favoritas esas ofertas que más le gusten, para poder consultarlas en cualquier otro momento.<br><br>
        Este proyecto se ha realizado por Patricia Colmenares Carretero, Sofía Martínez Parada, Claudia Jazmín Soria Saavedra y Diego Vázquez Parés para las asignaturas de <em>Proyecto de Computación II y III </em>
        del tercer curso del grado de Ingeniería Informática de la <em>Universidad Europea de Madrid</em>, por lo que toda la información recopilada mediante web scrapping de fotocasa e infoempleo se empleará única y exclusivamente
        para fines didácticos. <br>
        
        </p>
        <p style="text-align: center; font-weight: bold;"><br>En caso de cualquier consulta o pregunta, no dude en contactarnos.</p>
         </ng-container>
      <ng-template  #busqueda1>
        <ng-container *ngIf="trabajo!='trabajo'; else dispTrabajos">
          <div *ngFor="let casa of casas; let i = index">
            <div (click)="abrirCasa(casa)"  class="tarjetas">
              <h2 style="position: absolute; left: 1vw; color:rgb(0, 170, 170)">{{i}}</h2>
              <h2>m2: {{casa.metros2}}</h2>
              <hr>
              <div style="display: inline-block; height: 100%; width: 35%;">
                <img [src]="images[i][0]" alt="No hay foto" width="275" height="175">
              </div>
              <div style="display: inline-block; height: 100%; width: 60%;">
                <h3>Precio: {{casa.precio}} | Lugar: {{casa.lugar}} | {{casa.compr_alq_compar}}</h3>
                <p>Habitaciones: {{casa.habitaciones}}</p>
                <p>Baños: {{casa.banos}}</p>
                <p>Tipo: {{casa.tipo}}</p>
              </div>
            </div>
          </div>
          <mat-paginator #paginator [length]="paglengthV" [pageSize]="pageSizeV" [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]="pageIndexV" (page)="pageEventV($event)">
          </mat-paginator>
        </ng-container>
        
        <ng-template #dispTrabajos>
          <div *ngFor="let trabajo of trabajos; let i=index">
            <div (click)="abrirOferta(trabajo)"  class="tarjetas">
              <h2 style="position: absolute; left: 1vw; color:rgba(85, 158, 207, 0.81);">{{i}}</h2>
              <h2>{{trabajo.titulo}}</h2>
              <p>Area: {{trabajo.area}} | Jornada: {{trabajo.jornada}}</p>
              <hr>
              <div style="display: inline-block; height: 100%; width: 35%;">
                <p>Contrato: {{trabajo.contrato}}</p>
                <p>Localidad: {{trabajo.localidad}}</p>
                <p>Salario: {{trabajo.salario}}</p>
              </div>
              <div style="display: inline-block; height: 60px; width: 50%; overflow: hidden; margin-left: 5%;">
                <p>{{trabajo.funciones}}</p>
              </div>
            </div>
          </div>
          <mat-paginator #paginator [length]="paglengthT" [pageSize]="pageSizeT" [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]="pageIndexT" (page)="pageEventT($event)">
          </mat-paginator>
        </ng-template>
      </ng-template>
    </div>
    
  </div>