<div class="content">
    <div *ngIf="isSearch" class=menuLateral>
      <!--<div *ngIf="isSearch"style="max-width: 200px; min-width: 200px;">-->
      <div *ngIf="trabajo!='trabajo'; else filtrosTr"style="width:100%;">
        <h1>Vivienda</h1>
        <br>
        <p>Precio</p>
        <section class="example-section">
          <mat-form-field class="example-margin-bar">
            <mat-label>Value</mat-label>
            <input matInput type="number" [(ngModel)]="filtros.viviendaPrecio">
          </mat-form-field>
          <mat-form-field class="example-margin-bar">
            <mat-label>Min value</mat-label>
            <input matInput type="number" [(ngModel)]="min">
          </mat-form-field>
          <mat-form-field class="example-margin-bar">
            <mat-label>Max value</mat-label>
            <input matInput type="number" [(ngModel)]="max">
          </mat-form-field>
          <mat-form-field class="example-margin-bar">
            <mat-label>Step size</mat-label>
            <input matInput type="number" [(ngModel)]="step">
          </mat-form-field>
        </section>
        <mat-card class="example-result-card">
          
          <mat-card-content>        
            <div class="example-label-container" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
              <h1>{{filtros.viviendaPrecio}}</h1>
            </div>
            <mat-slider
                class="example-margin"
                [invert]="false"
                [max]="max"
                [min]="min"
                [step]="step"
                [thumbLabel]="true"
                [(ngModel)]="filtros.viviendaPrecio"
                aria-labelledby="example-name-label">
            </mat-slider>
          </mat-card-content>
        </mat-card>
        <p>Nº de habitaciones</p>
        <mat-form-field class="example-margin-bar">
          <mat-label>Nº de habitaciones</mat-label>
          <input matInput type="number" [(ngModel)]="habitaciones">
        </mat-form-field>
      </div>
      <ng-template #filtrosTr style="width:100%;">
        <h1>Trabajo</h1>
        <br>
        <p>Provincia: {{filtros.trabajoProvincia}}</p>
        <mat-form-field style="height: 3.4vw" fill>
          <mat-label>Filtro</mat-label>
          <mat-select>
            <mat-option *ngFor="let provincia of arrayProvincias; let i=index" [value] = i>{{provincia}}</mat-option>
                     
          </mat-select>
        </mat-form-field>
        <br>
        <br>
        <p>Jornada: {{filtros.trabajoJornada}}</p>
        <mat-form-field style="height: 3.4vw" fill>
          <mat-label>Filtro</mat-label>
          <mat-select>
            <mat-option [value] = 1>Cualquiera</mat-option>
            <mat-option [value] = 2>Completa</mat-option>    
            <mat-option [value] = 3>Parcial</mat-option>  
          </mat-select>
        </mat-form-field>
        <br>
        <br>
        <!--<p>Contrato: {{filtros.trabajoContrato}}</p>-->
        
      </ng-template>
    </div>
    <div style="height: 90%; margin: 2vw; margin-right: 4vw; text-align:center; max-width: 70vw; min-width: 500px;">
      <div class="card highlight-card card-small">
        <!--
        <p style="margin:2vw;">Trabajo<input type="checkbox" ng-model="trabajo"></p>
  
        <p style="margin:2vw;">Vivienda<input type="checkbox" ng-model="!trabajo"></p>
        -->
        <section class="example-section">
          <mat-radio-group [(ngModel)]="trabajo">
            <mat-radio-button class="example-margin" style="margin: 1vw;" value="trabajo">Trabajo</mat-radio-button>
            <mat-radio-button class="example-margin" style="margin: 1vw;" value="vivienda">Vivienda</mat-radio-button>
          </mat-radio-group>
        </section>
        <div style="margin:2vw;">
          
          <!--
          <label for="cars">Parametros</label>
          <select id="cars" name="cars">
            <option value="volvo">No</option>
            <option value="saab">Se</option>
            <option value="fiat">Que</option>
            <option value="audi">Poner</option>
            <option value="audi">Aqui</option>
          </select>
        -->
        </div>
        <input type="text" id="name" name="name" required
          minlength="4" maxlength="8" size="15">
        <button (click)="isSearch=true" style="margin:2vw; background-color:rgba(255, 255, 255, 0)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
        
      </div>
      
      <ng-container *ngIf="!isSearch; else busqueda">
  
        <h2>¿Quienes somos?</h2>
        <!--
        <p>imasndolaksndpoailshnd {{user.Fecha_nacimiento}}</p>
        <p>{{user.ID}}</p>
        <p>{{isLogged}}</p>-->
        <p style="text-align: center">Tengo una gallina pinta, pipiripinta, pipirialegre y gorda, que tiene tres pollitos pintos, pipiripintos, pipirialegres y gordos. Si la gallina no hubiera sido pinta pipiripinta, pipirialegre y gorda; los pollitos no hubieran sido pintos, pipiripintos, pipirialegres y gordos.</p>
        <p style="text-align: center">Pablito clavó un clavito en la calva de un calvito. Un clavito clavó Pablito en la calva de un calvito. ¿Qué clavito clavó Pablito?</p>
        <p style="text-align: center">Cuando cuentes cuentos, cuenta cuántos cuentos cuentas, porque si no cuentas cuántos cuentos cuentas, nunca sabrás cuántos cuentos cuentas tú.</p>
      </ng-container>
      <ng-template #busqueda>
        <ng-container *ngIf="trabajo!='trabajo'; else dispTrabajos">
          <div *ngFor="let casa of casas; let i = index">
            <div [routerLink]="['../MostrarInformacionComponent',casa.link]" class="tarjetas" >
              <h2>m2: {{casa.metros2}}</h2>
              <hr>
              <div style="display: inline-block; height: 100%; width: 35%;">
                <img [src]="images[i][0]" alt="No hay foto" width="275" height="175">
              </div>
              <div style="display: inline-block; height: 100%; width: 60%;">
                <h3>Precio: {{casa.precio}} | Lugar: {{casa.lugar}} | {{casa.compr_alq_compar}}</h3>
                <p>Habitaciones: {{casa.habitaciones}}</p>
                <p>Baños: {{casa.banos}}</p>
                <p>Tipo: {{casa.tipo}}</p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #dispTrabajos>
          <div *ngFor="let trabajo of trabajos">
            <div (click)="abrirOferta(trabajo)"  class="tarjetas">
              
              <h2>{{trabajo.titulo}}</h2>
              <p>Area: {{trabajo.area}} | Jornada: {{trabajo.jornada}}</p>
              <hr>
              <div style="display: inline-block; height: 100%; width: 35%;">
                <p>Contrato: {{trabajo.contrato}}</p>
                <p>Localidad: {{trabajo.localidad}}</p>
                <p>Salario: {{trabajo.salario}}</p>
              </div>
              <div style="display: inline-block; height: 60px; width: 50%; overflow: hidden; margin-left: 5%;">
                <p>{{trabajo.funciones}}</p>
              </div>
            </div>
          </div>
          <div class="tarjetas"></div>
        </ng-template>
        
      </ng-template>
    </div>
    
  </div>