:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.txtFiltro{
  font-weight: 600;
}
.btn{
  margin: 1vw;
  padding: 1vw;
  background-color: #3B6E90;
  color: white;
  border-radius:0.5vw;
  border-color: white;
}
.menuLateral{
    z-index: 1;
    position:fixed;
    left: 0;
    width:225px;
    max-width: 200px;
    min-width: 225px;
    height:95%;
    overflow-y: scroll;
    padding:1vw;
    padding-left: 1.5%;
    padding-bottom: 6vw;
    background-color:rgba(95, 177, 232, 0.91);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

@media only screen and (max-width:960px){
  menuLateral{
      overflow-y:scroll;
  }
}

.menuLateral::-webkit-scrollbar {
  display: none;
}
.example-margin-bar{
  max-width: 75px;
  min-width: 75px;
}
.example-margin{
  z-index: 2;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #3B6E90;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

.content {
    min-height:calc(100% - 40px);
    width: 100%;
    display: flex;
    /*margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    align-items: center;*/
    flex-flow: row;
    flex-wrap: wrap;
    padding-top: 60px;
    justify-content: center;
}




.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    border-radius: 7px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 25px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #3B6E90;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 700px;
    height: 60px;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

.tarjetas{
  position: relative;
  width:65vw; 
  min-height: 6vw; 
  background-color:rgba(95, 177, 231, 0.91);
  margin: 45px;
  padding: 0.5vw;
  border-style: inset;
  border-radius:0.5vw;
  border-width: 2px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  color: black;
}
.tarjetas:hover {
  background-color:rgba(85, 158, 207, 0.81);
  cursor: pointer;
}


  