<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
    [routerLink]="['../titlebar']"
    width="50"
    alt="ReJob Logo"
    src="../../assets/img/logo_B.png"
    />
    <span style="font-size: 2vw;">REJOB</span>
    <div class="spacer"></div>
    <span style="font-size: 2vw; padding-right: 13%;">LOGIN</span>
    <div class="spacer"></div>
</div>

<div class="content">
    <div class="central">
        <h1 style="font-weight: bolder; color:#3B6E90; text-shadow: 0 0 black; margin-top: 48%; font-size: 181%;">Introduzca sus datos</h1>
        <p *ngIf="contrIncorrecta" style="color:#DB412B">Email o contraseña incorrectos</p>
        <br>
        <form #simpleform="ngForm" (ngSubmit)="iniciarSesion(simpleform.value)" class="formLog">
            <div class="imputCaja">
                <input class=contCamp ngModel name="email" placeholder="E-mail"  type="text" />
            </div>
            <br>
            <div class="imputCaja">
                <input class=contCamp ngModel name="password" placeholder="Contraseña"  type="password"/>
            </div>
            <br>
            <button class="boton">Enviar</button>
        </form>
        <p>¿Olvidaste tu contraseña? Haz click <a mat-raised-button (click)="sendEmail()">aquí</a></p>
        <br>
        <button class="boton" [routerLink]="['../titlebar']">Volver</button>
    </div>
</div>
