.content {
    width: 100%;
    display: flex;
    height: 100%;
    /*margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    align-items: center;*/
    justify-content: center;
    
}
.central{
    height: 30vw; 
    width: 40vw; 
    display:flex; 
    justify-content: center; 
    text-align: center; 
    flex-direction: column; 
    padding: 4vw; 
    padding-top: 110px;
}

.boton {
    margin: 1vw;
    padding: 0.5vw;
    background-color: #3B6E90;
    border-radius:0.5vw;
}
.imputCaja{
    margin:0.2vw;
    padding: 1vw;
    min-height: 50px;
    height: 3.5vw;
    /*width: 35vw;*/
    display:flex; 
    justify-content: center; 
    text-align: center; 
    flex-direction: column; 
    background-color: #3B6E90;
    border-style: inset;
    border-radius:0.5vw;
    border-width: 1px;
    border-color: #3B6E90;
}

.contCamp{
    border-style: inset;
    border-radius:0.2vw;
    /*border-width: 12px;*/
    border-color: #3B6E90;
    padding: 0.5vw;
    /*width: 33vw;*/
}
.formLog{
    display:flex; 
    justify-content: center; 
    text-align: center; 
    flex-direction: column; 
}

a{
    color:blue;
    text-decoration-line: underline;
}
